@import "tailwindcss";

@font-face {
    font-family: 'textFont';
    src: url('./fonts/Nexa-Heavy.ttf');
}
@font-face {
    font-family: 'textFont1';
    src: url('./fonts/Nexa-ExtraLight.ttf');
}
*{
    /* font-family: 'textFont1'; */
}
html{
    scroll-behavior: smooth;
}
.TextFont1{
    /* font-family: 'textFont'; */
}
.textGradient {
    background: linear-gradient(120deg, #ffa200, #f7f7f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bgGradient{
    background: linear-gradient(90deg, rgba(62,123,39,1) 0%, rgb(27, 27, 27) 100%);
}
.BoxShadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ProductListBox{
    background: linear-gradient(120deg, #3e7b27 0%, #4da02e, #114000 100%);
}
.popUpBg{
    background: linear-gradient(90deg, rgba(250,246,227,1) 0%, rgba(255,250,236,1) 100%);
}
.TextFont{
    /* font-family: 'textFont'; */
}
.scrollBar::-webkit-scrollbar{
    display: none;
}
.BlobDesign{
    box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
    transition: all 1s ease-in-out;
    animation: animate 5s ease-in-out infinite;
  }
  @keyframes animate{
    0%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
  @media screen and (min-width : 1600px) {
    .BannerCircle{
        width: 2000px;
        height: 2000px;
        top: -1000px;
      }
      .BannerCircle2{
        width: 2000px;
        height: 2000px;
        top: -980px;
      }
  }

  @media screen and (min-width : 1700px) {
    .BannerCircle{
        width: 2200px;
        height: 2200px;
        top: -1200px;
      }
      .BannerCircle2{
        width: 2200px;
        height: 2200px;
        top: -1160px;
      }
  }
  @media screen and (min-width : 1800px) {
    .BannerCircle{
        width: 2400px;
        height: 2400px;
        top: -1300px;
      }
      .BannerCircle2{
        width: 2400px;
        height: 2400px;
        top: -1160px;
      }
  }
  